.wrap .contents {
  width: calc(100% - 200px);
  margin-left: 200px;
  min-height: 100vh;
  padding-bottom: 7rem;
  transition: all 0.5s;
  position: relative;
}

/* contents_active  */
.wrap .contents_active {
  width: calc(100% - 70px);
  margin-left: 70px;
  min-height: 100vh;
  position: relative;
}

.wrap main {
  padding-top: 4rem;
}

.wrap .footer {
  width: calc(100% - 70px);
  color: #ccc;

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.wrap .footer div {
  height: 1px;
  margin: 0 auto;
  background-color: #ccc;
}

/* 반응형 */
@media screen and (max-width: 770px) {
  .wrap .contents_active {
    width: calc(100% - 50px);
    margin-left: 50px;
  }
}
