.comment form {
  position: relative;
  margin-bottom: 80px;
}

.comment > h1 {
  padding-left: 10px;
  padding-bottom: 10px;
  font-weight: 500;
}

.write {
  width: 80%;
  height: 45px;
  margin: 10px 0;

  color: #777;
  font-size: 1.1em;
  font-weight: 100;
  justify-content: space-between;
  display: flex;
  overflow: hidden;
}

.side {
  width: 15%;
  position: relative;
}

.profile {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  background-color: #f0f2f6;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rivew_input {
  width: 75%;
  line-height: 1.5;
  padding: 5px 30px;
  margin: 0;
  outline: none;
  font-size: 0.9em;
  border: 2px solid #f0f2f6;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: none;
}

.write button {
  width: 10%;
  padding: 2px 0;
  color: #fff;
  font-size: 0.9em;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #fd5830;
}

.write button:active {
  background-color: #ffab57;
}

.rivew_box {
  width: 80%;
  height: 45px;
  line-height: 45px;
  margin: 10px 0;
  margin-bottom: 50px;
  padding-bottom: 15px;
  box-sizing: initial;

  color: #777;
  font-size: 1.1em;
  font-weight: 100;
  justify-content: space-between;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-bottom: 3px solid #f0f2f6;
}

.rivew_txt {
  width: 85%;
  height: 100%;
  padding: 5px 30px;
  margin: 0;
}
